#
# Apache/PHP/S.Builder settings:
#

# Страница для 404 ошибки
#ErrorDocument 404 /index.php
#ErrorDocument 403 /index.php
#ErrorDocument 401 /index.php

# Не показывать контент директорий, в которых нет файла index.php
Options -Indexes

# Переходить по символическим ссылкам в директории
Options +FollowSymLinks

# Выставляем нужные настройки PHP
# PHP 5, Apache 1 and 2.
php_value magic_quotes_gpc                0
php_value register_globals                0
php_value session.auto_start              0
php_value session.use_cookies             1
php_value session.use_only_cookies        1
php_value session.cookie_lifetime         0




# Подключаем mod_expires, это снимет нагрузку с сервера
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A7200
  ExpiresByType text/html A1
</IfModule>

# ЧПУ.
<IfModule mod_rewrite.c>
  Options -MultiViews
  RewriteEngine on
  RewriteBase /


  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteCond %{REQUEST_URI} !^/(cms)
  RewriteCond %{REQUEST_URI} !^/(19c3740632ead0ebf010a79405eb9f73)
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]




  RewriteCond %{REQUEST_URI} !^/(catalog/special/action)
  RewriteCond %{REQUEST_URI} !^/(catalog/special/hit)
  RewriteCond %{REQUEST_URI} !^/(catalog/special/new)
  RewriteCond %{REQUEST_URI} ^/catalog/special/(.*)/
  RewriteRule ^.*$ /404.php [L]



  RewriteCond % !^/robots\.txt$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ /cms/admin/redirect.php [L,QSA,NE]
</IfModule>


<IfModule mod_alias.c>
  Redirect 301 /catalog/atlant-skumbriya/  https://shop.lamaree.ru/catalog/atlanticheskaya-skumbriya/
  Redirect 301 /catalog/paltus-sinekotiy/  https://shop.lamaree.ru/catalog/paltus-sinekoriy/
</IfModule>




<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>