ul#vertical-multilevel-menu, #vertical-multilevel-menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#vertical-multilevel-menu {
	max-width:1124px;
	margin:0 auto;
}

#top-menu .close{
    cursor:pointer;
}
div#top-menu-inner {
    overflow-y: auto;
    border: 1px solid rgba(255,255,255,.2);
}
div#top-menu {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    left: 0;
    z-index: 3;
    top: 0;
    transition: .3s ease;
    background-color: #f8f8f8;
}
div#top-menu.active{
	top: 69px;
}
li.second.root-item {
    margin-left: 20px;
	margin-bottom: 20px;
    margin-top: 10px;
}
#top-menu input[name="q"]{
    width: 77%;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
}
#top-menu .uk-close:after {
    content: "×";
    color: black;
    cursor: pointer;
}
#top-menu #search-li span {
    display: inline-block;
    width: 20px;
    height: 20px;
}
#top-menu li.second.root-item a {
    font-size: 18px;
    margin-left: 20px;
    line-height: 20px;
    display: block;
}
ul#vertical-multilevel-menu li > * {
    margin: 10px;
    color: #000;
    line-height: 2em;
    font-size: 18px;
    text-decoration: none;
}