@media screen and (min-width:640px) and (max-width:1030px){
    *{
        box-sizing: border-box;
    }
    table{
        box-sizing: border-box;
        max-width: 95%;
        height:auto;
        table-layout: fixed;
    }
    iframe{
        box-sizing: border-box;
        table-layout: fixed;
    }
    .wrap .container:first-child{
		padding:0;
        display: block!important;
        text-align: center;
	}
    .video_with_arrows_wrap_price .inline-wrap {
        width: 58%!important;
    }
    .logo{
        height: 80px;
        max-width: inherit;
        overflow: hidden;
        margin: 0;
    }
    .up-line ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 10px 0 0;
    }
    .logo a {
        display: block;
		padding: 6px;
    }
    .top-grid {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    .menu-mobile{
        background: #009795;
    }
	.menu-mobile.fixed{
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: inherit;
	    margin: 0;
		z-index: 200;
	}
	.menu-mobile.fixed .mob-line{
		margin:0;
		overflow-y: scroll;
    	position: relative;
	}
	.menu-mobile.fixed .mob-line.active{
		height:100vh
	}
	.menu-mobile.fixed .mob-line > ul{
		margin:0;
	}
	.menu-mobile.fixed .mob-line.active > ul{
	    height: 100%;
	    display: block;
	    position: relative;
	}
    .mob-line{
        margin-top: 10px;
        border-top: 1px solid #2FABB4;
        max-width: 100%;
    }
    .mob-line.active .menu-sign {
        content:"✕"
    }
    .mob-line .menu-sign{
        display: none;
        position: relative;
        padding: 0 30px 0 15px;
        color: white;
        background: #009795;
        width: 32px;
        height: 32px;
        border: 0;
        vertical-align: text-bottom;
        font-size: 32px;
    }
    .mob-line .menu-sign.active{
        display: inline-block;
    }
    li.first-menu-name {
        border-bottom: 1px solid #ccc;
    }
    .menu-name{
        color:white;
        display: inline-block;
        padding: 10px 0;
        vertical-align: text-bottom;
    }
    .mob-line.active a{
        display: block;
    }
    .mob-line a {
        display: none;
        padding: 5px;
        border-bottom: 1px solid #ccc;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    .mob-line a.phone {
        position: static;
        margin-top: -37px;
        border-bottom: 0;
        right: 0;
        font-size: 18px;
        display: block!important;
        float: right;
        font-weight: normal;
    }
	.mob-line.active a.phone {
		margin-top: -192px;
	}
    .mob-line ul{
        list-style: none;
		padding-left: 0;
    }
    .mob-line.active ul li.parent{
        height: 30px;
        overflow: hidden;
        transition: 1s ease;
        border-bottom: 1px solid #ccc;
    }
    .mob-line ul li.parent.active{
        height:auto;
    }
    /*.mob-line ul:first-child:before{
        content: "МЕНЮ";
        position: absolute;
        display: block;
        padding: 0 15px;
        color: white;
        font-size: 18px;
        margin: -30px 0 0 41px;
    }*/
	.mob-line ul ul{
		background: #30AAB5;
        padding-left:15px;
	}
	li.subclass{
		position: absolute;
        right: 10px;
	}
    .quarter_block:before{
        width:0 !important;
        display:none!important;
    }
    .menu{
        margin-left: 10px;
        width:auto!important;
        float: none;
    }
    .container{
        padding: 6px 6px 0;
    }
    div.laps{
        display:block;
    }
    .laps > div:first-child{
        border-top-right-radius: 20px;
    }
    .laps div:last-child{
        border-radius: 0;
    }
    div.by_two{
        display: block;
    }
    div.feedback_text{
        margin: 0 62px 27px;
    }
    .inlay a{
        float:none;
    }
    p.caption {
        margin-top: 5px;
    }
    p.caption.heading {
        margin: 12px 0 0;
    }
    p.caption span{
        font-size: 20px!important;
        background-color: transparent;
        border: 0;
        line-height: 2.5em;
    }
    h1.on_main_page {
        margin: 0 auto!important;
    }
    .doctor img{
        border: 3px solid #eee;
        margin: 14px auto;
        box-shadow: none;
        width: 140px;
        position: relative;
        z-index: 10;
    }
    .about_doctor{
        background: rgba(0,0,0,.2);
        min-height: 350px;
        padding: 50px 5px 0;
        top: -60px;
        position: relative;
        z-index: 0;
        width: 240px;
    }
    .round_pink{
        top: 0 !important;
    }
    .doctor{
        font-size: smaller;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 4px;
        width: 246px;
        min-width: inherit;
        text-align: center;
    }
    div.inine_overflow{
        display: inline-block;
        text-align: center;
        color: white;
        margin: 0 auto!important;
        max-width: 1080px;
        overflow: hidden;
        max-height: 490px;
    }
    .best{
        margin-top: 0px!important;
    }
    .pink{
        display: block;
        top: -14px;
        position: relative;
    }
    div.straumann{
        display: block;
    }
    .map-container{
        display:block!important;
        max-height: inherit;
    }
    .inlay p {
        max-width: inherit;
    }
    .straumann-logo{
        margin-top:20px
    }
    .arrs {
        height: 40px;
        display: inline-block;
        vertical-align: top;
        margin: 28% 20px;
    }
    img.larr{
        margin-left: 5px!important;
    }
    .green_width .container{
        display: block;
        padding:0!important;
    }
    .footer a:first-child {
        margin:0 10px 0 0;
        width: 215px;
        height: 54px;
        overflow: hidden;

    }
    .footer a {
        vertical-align: top;
        display: inline-block;
        margin-right:0;
        margin-left:0;
    }
    .footer a img{
        width: 200px;
        max-width: inherit;
    }
    .video_with_arrows_wrap {
        align-items: center;
        display: block;
    }
    .inline-wrap {
        display: inline-block;
    }
    .video_with_arrows_wrap img{
        vertical-align: top;
    }
    ymaps.ymaps-map.ymaps-i-ua_js_yes {
        width: 100%;
        height:100%;
    }
    div#map {
        flex: none;
        display: block!important;
        width: 100%;
        height: 300px;
    }
    div.footer{
        display:block!important;
    }

	.banner_text {
        font-size: 28px!important;
	    top: -58px!important;
	    left: 0!important;
	    width: 70%!important;
	}
	img.left_align_image,
	img.right_align_image{
        width: 300px;
		margin-bottom:1em;
	}

    img.left_align_image {
        margin-right: 28px;
    }
    img.right_align_image {
        margin-left: 28px;
    }
	.bx-newsdetail .inlay p {
	    max-width: inherit!important;
	}
	.bx-newsdetail-block{
		padding:0!important;
	}
	.colored{
		display: block;
        overflow-x: hidden;
		max-width:inherit!important;
	}
	.colored tr td:not(:first-child) {
	    white-space: inherit!important;
	}
	.relative_articles > div b {
	    font-size: smaller;
	    padding: 9%;
        float: right;
	}
	div.video_wrap_right {
	    margin-left: 0!important;
	}

	.border_check > div span {
	    font-size: smaller;
	}
    /*.quarter_block{
        max-width: 357px!important;
    }*/
    .quarter_block span{
        position: relative;
        content: url(/bitrix/templates/famdental/imager/list.png);
        display: inline-block;
        width: 40px;
        height:40px;
        margin-top: 15px;
    }
    .banner-part a {
        display: block;
    }
    .footer-line,
    .banner_two_wrap{
        text-align: center;
    }
    .relative_articles.uk-grid {
        margin: 0!important;
    }
    .quarter_in{
        padding: 12px 12px;
        display: inline-block;
        width: 310px;
    }
    .images_wrap img{
        width: 382px;
        height: auto;
    }
    .in_address_wrap {
        display: block;
    }
    .in_address {
        flex: 1;
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        width: 48%;
    }
    .uk-width-medium-4-5, .uk-width-medium-8-10 {
        width: 80%;
        margin: 0 auto!important;
        padding-left: 0!important;
    }
}