/* Start:/bitrix/templates/famdental/template_styles.css */
@font-face {
    font-family: "rouble";
    src: url("/fonts/rouble.otf");
    font-weight: inherit;
}
*{
    box-sizing: border-box;
}
body{
    background-color: white;
    font: 400 16px/20px Verdana,"Helvetica Neue",Helvetica,sans-serif!important;
    margin:0;
    padding:0;
    color:#797979;
}
.triple h4,
.triple .h4{
    font-weight: bold;
    font-size: 18px;
}
img.littler {
    padding: 0 4em;
    height: 193px;
    width: auto;
}
.wrap{
    overflow: hidden;
    margin:0 auto;
}
.wrap > img.main {
    width: 100%;
}
.container{
    max-width:1170px;
    margin: 0 auto 30px;
    padding: 0;
}
.top-grid{
    margin-top: 35px;
    margin-bottom:35px;
}
.logo{
    max-width: 23%;
    display: inline-block;
    vertical-align: top;
    margin-right: 35px;
}
.footer-line.fixed + .map-container{
    margin-top: 84px;
}
.menu{
    display: inline-block;
    vertical-align: top;
    margin-top: -4px;
    float: right;
}

.menu .up-line a{
    color:rgb(47,147,154);
    font-weight: bold;
    font-size:15px;
}
.menu .up-line .phone{
    font-size: 19px;
    color:#7F7F7F;
}
.menu .up-line ul .dot:last-child{
    display:none
}
.st1 ul{
    position: absolute;
    text-align: left;
}
.menu .down-line ul li ul{
    background-color: #2FABB4;
    display: none;
}
.menu .down-line .st1:hover ul{
    display: block;
    z-index: 10;
}
.menu .down-line > ul{
    display: table;
    table-layout: fixed;
    width: 661px;
}
.menu .down-line > ul > li {
    display: table-cell!important;
    text-align: center;
}
.menu .down-line > ul > li > a{
    display: block;
    padding: 5px 0;
    margin:0 5px;
    text-decoration: none;
}
.down-line ul li ul li{
    padding: 8px;
    display:block;
}
img.dot{
    margin-right: 6px;
    height: 11px;
    margin-top:6px;
}
.menu .down-line{
    background-color:rgb(47,147,154);
    border-radius: 1em;
}
.menu .down-line a{
    color:white;
    font-weight: bold;
    font-size: 15px;
}
div.up-line, div.down-line{
    text-align: right;
}
div.down-line ul .dot{
    display: none;
}
div.down-line{
    margin-top:10px!important;
}
.bottom-line-a{
    padding:5px;
}
.top-line-a, .bottom-line-a, .menu img{
    text-decoration: none;
    display:inline-flex;
}
p.caption.heading{
    position: relative;
}
p.caption{
    display: block;
    text-align: center;
    left:0;
    right:0;
    margin-top:-70px;
    position: absolute;
}
p.caption span{
    background: rgba(255,255,255,.7);
    padding: 10px 24px;
    border-radius: 12px;
    color: #2FABB4;
    font-size: 24px;
    border: 2px solid #eee;
}
.highlight{
    border: 3px solid #eee;
    padding: 14px 32px;
    margin: 32px 0;
    border-radius: 24px;
    background-color: #2FABB4;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.on_main_page{
    text-align: center;
}
h1, h2{
    color: #999!important;
    text-transform: uppercase!important;
    margin: 2em auto 1em!important;
    display: block!important;
}
.pink{
    background-color: #FF445B;
    text-align: center;
    border: 3px solid #eee;
    border-top: 0;
    padding: 13px 32px 16px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    position: relative;
    top: 12px;
}
.best {
    text-align: left;
    width: 88%;
    display: inline-block;
    position: relative;
    margin-top: 40px
}
.best h3,
.best .h3{
    color: white;
    font-size: 32px;
}
.round_pink{
    width: 100px;
    display: inline-block;
    border: 3px solid #eee;
    height: 100px;
    vertical-align: bottom;
    box-sizing: border-box;
    padding-top: 26px;
    border-radius: 50%;
    background-color: #FF445B;
    text-align: center;
    position: relative;
    top: -11px;
}
.clear{
    float:none;
    clear:both;
}
.quarter_block,
.quarter_block_num {
    display: inline-block;
    max-width: 560px;
    margin-right: 5px;
}
.quarter_clear span img {
    width: 64px;
}
.quarter_block:before{
    position: relative;
    content: url(/bitrix/templates/famdental/imager/list.png);
    display: inline-block;
    width: 70px;
    height:70px;
    margin-top: 20px;
}
.in_address a img {
    width: 50px;
}
.quarter_block_num span{
    position: relative;
    background: url(/bitrix/templates/famdental/imager/num.png) no-repeat center;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 20px;
    color: #28939b;
    font-size: 30px;
    padding: 24px 0 0 1px;
    font-weight: bold;
    text-align: center;
}
.quarter_another {
    display: inline-block;
    vertical-align: top;
    max-width: 590px;
    margin-right: 5px;
}
.quarter_another:before{
    position: relative;
    display: inline-block;
    width: 70px;
    height:70px;
    margin-top: 20px;
}
.quarter_another span,
.quarter_clear span{
    position: relative;
    display: inline-block;
    width: 70px;
    height:70px;
    margin-top: 20px;
    vertical-align: top;
}
.videos .video-container {
    margin-bottom: 1em;
}
.quarter_clear span{
    margin-right: 1em;
}
.quarter_another .q_first:before{content: url(/images/icon1.png);}
.quarter_another .q_second:before{content: url(/images/icon2.png);}
.quarter_another .q_third:before{content: url(/images/icon3.png);}
.quarter_another .q_fourth:before{content: url(/images/icon4.png);}

.bx-newsdetail .quarter_block,
.bx-newsdetail .quarter_another{
    max-width: 540px;
}
.quarter_in{
    padding: 12px 32px 12px 0;
    display: inline-block;
    width: 85%;
    vertical-align: top;
}
.quarter_in{
    padding: 12px 32px 12px 0;
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
.quarter_in h4,
.quarter_in .h4{
    font-size: 18px;
    font-weight: bold;
}
.straumann,
.by_four{
    border: 3px solid #eee;
    padding: 0;
    border-radius: 24px;
    margin: 24px auto;
    font-size: 18px;
}
div.straumann{
    display: block;
    padding: 32px;
}
.straumann-text,
.straumann-logo{
    display: inline-block;
    vertical-align: top;
}
.straumann-text{
    width: 100%;
    max-width: 780px;
}
.straumann-logo{
    max-width: 300px;
}
.straumann-logo img {
    width: 100%;
    margin-bottom: 2px;
}
.green_width{
    background-color: #2FABB4;
}
.inine_overflow {
    display: block;
    text-align: center;
    color: white;
    margin: 0 24px;
    max-width: 1080px;
    overflow: hidden;
}
.arrs {
    height: 40px;
    margin-top: 210px;
    cursor:pointer;
}
img.arrs.larr{
    margin-left:30px
}
.long{
    font-weight:bold;
}
.doctor_wrap {
    width: 1000em;
    text-align: left;
}
.doctor {
    width: 330px;
    position: relative;
    left: 0;
    vertical-align: top;
    display: inline-block;
    margin-right: 12px;
}
.doctor img{
    border: 3px solid #eee;
    margin: 24px auto 8px;
    box-shadow: 0 253px 0 34px rgba(0,0,0,.2);
    display: block;
}
.doctor h3,
.doctor .h3{
    color: white;
}
.about_doctor{
    padding: 0 32px;
}
.free-cons .about_doctor{
    background: none;
}
a.about_doctor{
    top:0;
}
a.about_doctor img{
    border: 1px solid #ccc;
    background: white;
    padding: 5px;
    margin-bottom: 2em;
}
.triple .block{
    margin-bottom:1em;
}
.by_four .inlay{
    display:none;
}
.by_four .inlay.active{
    display:block;
}
.inlay{

}
.inlay p{
    display: inline-block;
    max-width: 680px;
}
.bx-newsdetail .inlay p{
    max-width: 52%;
}
.inlay a{
    float: left;
    margin-top: -64px;
}
.inlay > div{
    padding: 32px;
}
.laps{
    display: flex;
    justify-content: space-between;
}
.laps .active{
    background-color: white;
}
.laps div{
    background-color: #E9E9E9;
    padding:6px 32px;
    flex: 1;
    cursor:pointer;
    display: flex;
    align-items: center;
}
.laps div:first-child{
    border-top-left-radius: 20px;
}
.laps div:last-child{
    border-top-right-radius: 20px;
}
.laps div p{
    display: inline-block;
    margin-left: 65px;
    margin-top: 10px;
}
.laps span{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color:white;
    color:#2FABB4;
    text-align: center;
    box-sizing: border-box;
    padding-top:9px;
    border-radius:50%;
    margin-right: 10px;

}
.laps .active span{
    background-color:#2FABB4;
    color:white;
}
.by_two{
    display: flex;
}
.inline {
    flex: 1;
    display: block;
    position: relative;
}
.inline h2{
    text-align: center;
}
.video_with_arrows_wrap {
    display: flex;
    margin: 10px;
}
.video_with_arrows_wrap_price img,
.video_with_arrows_wrap img {
    height: 40px;
    width: 40px;
    margin: 110px 10px;
    display: inline-block;
}
.video_with_arrows_wrap_price {
    text-align: center;
}
.video_with_arrows_wrap_price .video-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 210px;
    padding-top: 1em;
    text-align: center;
}
.video_with_arrows_wrap_price .video-container-outer{
    text-align: left;
}
.video-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 460px;
    /*height:388px;*/
}

.video_with_arrows_wrap_price .price{
    color:#2FABB4;
    font-size:36px;
}
.video_with_arrows_wrap_price .rouble{
    color:#ccc;
    font-size:36px;
}
.video_with_arrows_wrap_price .inline-wrap {
    overflow: hidden;
    width: 74%;
    height:auto;
    display: inline-block;
}
.video_with_arrows_wrap_price img{
    margin-top: 0px;
    display: inline-block;
}
.inline-wrap {
    overflow: hidden;
    height: 256px;
    width: 460px;
}
video{
    width:460px;
    height: 256px;
    display:block;
}
.video-container-outer {
    width: 2050em;
}
#rarr-green, #larr-green{
    cursor: pointer;
}
.feedback_text {
    padding: 18px 35px 2px;
    font-size: 18px;
    background-color: #eee;
    border-radius: 12px;
    margin-bottom: 32px;
    margin-left:24px;
}
.feedback_text:after{
    content: "";
    width: 0;
    height: 25px;
    border-top: 20px solid #eee;
    border-right: 20px solid transparent;
    position: relative;
    top: 41px;
    left: 60px;
}
.feedback_text p{
    font-size: 14px;
}
.feedback_author {
    display: inline-block;
    margin-left: 70px;
}
.inline a {
    float: right;
    margin-right: 70px;
    text-decoration: underline;
}
.inline-href a {
    float: none;
    margin-right: 0;
    text-decoration: underline;
}
.footer-line,
.footer{
    background-color: #2FABB4;
    padding:12px;
}
.footer-line{
    /*margin-top:32px;*/
}
.footer-line button,
button.rec{
    border: 3px solid #eeeeee;
    margin: 0 auto;
    position: relative;
    background-color: #FF445B;
    color: white;
    transition: 1s ease;
    padding: 12px 37px;
    font-size: 18px;
    border-radius: 8px;
    display: block;
}
button.rec a{
    color: white;
    text-decoration: none;
}
.footer-line button:hover{
    background-color:#27939B;
}
.map-container,
.in_address_div{
    display: flex;
}
.map-container{
    background-color: #eeeeee;
    max-height: 400px;
}
div#map{
    flex: 1;
}
.address {
    flex: 1;
    box-sizing: border-box;
    padding: 32px;
}
.up-line ul,
.down-line ul{
    padding:0;
}
.page-item ul li {
    list-style-position: inside;
}
.menu img.dot {
    vertical-align: top;
    margin-top: 6px;
    display: inline-block;
}
.up-line ul li,
.down-line ul li{
    display:inline-block;
    list-style-type: none;
    padding: 0 10px;
}
.in_address_wrap {
    display: flex;
}
.in_address {
    flex: 1;
}
.in_address img {
    display: inline-block;
    vertical-align: top;
}
span.wr {
    display: inline-block;
    vertical-align: top;
}
b{
    color:#444444;
}
.footer a {
    margin: 0 50px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.border_check{
    border: 3px solid #ccc;
    border-radius: 8px;
    padding: 24px;
    background-color: #eee;
    margin-bottom:32px;
}
.border_check > div{
    display: inline-block;
    width: 47%;
    margin-right:1%;
    background: url(/images/check.png) no-repeat 5px 6px / 16px 16px;
    padding-left: 32px;
    font-size: 18px;
}
.border_check > div span{
    border-bottom:1px dashed #ccc;
}
.check a {
    color: inherit;
    text-decoration: none;
}
img.left_align_image{
    width: 300px;
    border: 3px solid #eee;
    box-shadow: 2px 2px 2px #aaa;
    margin-right:24px;
    float:left;
}
img.right_align_image{
    width: 300px;
    border: 3px solid #eee;
    box-shadow: 2px 2px 2px #aaa;
    margin-left:24px;
    float:right;
}
div.video_wrap {
    float: left;
    display: inline-block;
    height: 320px;
    width: 460px;
    margin-right: 24px;
}
div.video_wrap_right{
    /*float: right;*/
    margin-left:24px
}
.footer-line.fixed {
    position: fixed;
    bottom: 0;
    z-index:100;
    width: 100%;
}
.footer-line.fixed button{
    /*margin: 0;
    left: 0;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    width: 100%;*/
}
table{
    border:none!important
}
.colored tr td[colspan="2"]{
    background-color: #ecf0f1!important;
    text-align: center;
    font-weight: bold;
}
.colored, table{
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width: 100%;
}
.colored tr th div,
.colored tr th strong,
.colored tr td strong{
    background-color: rgb(47,147,154);
    white-space: nowrap;
    padding: 12px;

}
.colored tr td strong{
    display: block;
    position: relative;
}
.colored tr td {
    border:8px solid white;
    padding: 12px;
}
.colored tr:first-child{
    border:4px solid white;
}

.colored tr td:not(:first-child){
    white-space: nowrap;
}
.colored tr:first-child{
    color:white;
}
.colored tr:first-child th:first-child div{
    border-top-left-radius: 12px;
}
.colored tr:first-child td:first-child strong,
.colored tr:first-child th:first-child strong{
    border-top-left-radius: 12px;
    display: block;
    position: relative;
    padding: 12px;
    border: 4px solid white;
}
.colored tr:first-child th:last-child div{
    border-top-right-radius: 12px;
}
.colored tr:first-child td:last-child strong,
.colored tr:first-child th:last-child strong{
    border-top-right-radius: 12px;
    display: block;
    position: relative;
    padding: 12px;
    border: 4px solid white;
}
.colored tr td:nth-child(2n){
    background-color: rgb(234,233,237);
}
.colored tr td:nth-child(2n+1){
    background-color: rgb(208,233,239);
}
.table-wrapper{
    overflow-x: auto;
}
.another-colored{
    table-layout: inherit;
}
.another-colored td,
.another-colored th{
    text-align: center!important;
}
.another-colored td:first-child,
.another-colored th:first-child{
    background-color: #c3c3c3;
    color: white;
    border-bottom: 1px solid white;
    font-weight: bold;
    text-align: left!important;
}
.another-colored th:nth-child(2),
.another-colored th:nth-child(3){
    background-color: #3799a0;
    color: white;
    border-bottom: 1px solid white;
}
.another-colored tr:nth-child(2n) td:nth-child(2){
    background-color: #c3e2e7;
    color: #333;
    border-bottom: 1px solid white;
}
.another-colored tr:nth-child(2n+1) td:nth-child(2){
    background-color: #e2eff2;
    color: #333;
    border-bottom: 1px solid white;
}
.another-colored tr:nth-child(2n) td:nth-child(3){
    background-color: #c3e2e7;
    color: #333;
    border-bottom: 1px solid white;
}
.another-colored tr:nth-child(2n+1) td:nth-child(3){
    background-color: #e2eff2;
    color: #333;
    border-bottom: 1px solid white;
}
.nav_container ul{
    list-style: none;
    padding:0;
}
.nav_container .wrap{
    overflow: hidden;
}
.nav_container .wrap ul{
    position: relative;
    height: 100%;
}
.nav_container .wrap ul img{
    height: 100%;
}
.uk-dotnav-contrast>*>*{
    background-color:transparent !important;
    border:2px solid #27939B;
}
.uk-dotnav-contrast li.active a,
.uk-dotnav-contrast li.uk-active a{
    background-color:#27939B !important;
    border: 2px solid #27939B;
}
*:focus{
    outline:0;
}
ul.uk-dotnav.uk-dotnav-contrast.uk-flex-center{
    margin-top: 1em;
    z-index: 100;
    position: relative;
    display: block;
    left:calc(50% - 70px)
}
.nav_container .wrap ul li img{
    display:none;
    height: auto;
    width: 100%;
}
.uk-dotnav li a{
    cursor:pointer;
}
.nav_container .wrap ul li.active img{
    display:block;
}
.relative_articles > div img{
    width: 70px;
    height: auto;
    margin: 1em 1em 1em 0;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    border:1px solid #666
}
.relative_articles > div b{
    display: inline-block;
    width: 69%;
    padding: 4%;
}
.relative_articles > div{
    background-color: rgb(210, 232, 240);
    border-radius: 18px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 5px solid white;
}
.banner{
    margin-bottom: -1vw;
}
.banner > a,
.relative_articles a{
    text-decoration: none!important;
}
.banner-bg{
    background-color: #27939B;
    padding: 24px;
}
.banner_text {
    color: white;
    font-size: 2.2vw;
    width: 69%;
    z-index: 8;
    padding: 2em 0;
    line-height: 3vw;
}
.ban_text{
    font-size: 22px;
    padding: 30px;
    width: 305px;
    line-height: 26px;
    color: black;
}
.banner_two_wrap a > div {
    border: 4px solid #fff;
    margin-bottom: 1em;
}
.banner_two_wrap a, .banner_text a{
    text-decoration: none;
}
.banner img.face[alt=""] {
    display: none;
}
.images_wrap{
    text-align: center;
    padding: 2em;
    background-color: #eee;
    font-weight: bold;
}
.images_wrap img{
    margin:1em;
    height: 230px;
}
/*.uk-grid {
    margin-left: 0!important;
}*/
input[type="submit"]{
    color: #ddd!important;
}
#modal-form .uk-modal-dialog{
    padding:0;
    background: transparent;
}
.uk-modal-header{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.uk-modal-dialog>.uk-close:first-child {
    margin: 16px 16px 0 0!important;
}
div#form-content {
    padding: 16px;
    background-color: white;
}
div#form-content input,
div#form-content textarea{
    width: 100% !important;
    text-justify: none;
    text-align: left;
}
div#form-content input[type="submit"]{
    text-align: center;
}
.uk-modal-header{
    text-transform: uppercase;
    color:white;
    background-color: #27939B;
    padding:16px;
    margin-bottom: 0!important;
}
.uk-modal-close.uk-close{
    color:white;
}
.uk-button-success {
    background-color: #27939B!important;
}
input.uk-button-alert {
    background-color: #FF445B;
    color:white;
    border: 2px solid #eee;
    width: 100%;
    padding: 12px;
}
.mejs__overlay-button {
    background: url("https://cdnjs.cloudflare.com/ajax/libs/mediaelement/3.2.2/mejs-controls.svg") no-repeat;
}
.mejs__overlay-loading-bg-img {
    background: transparent url("https://cdnjs.cloudflare.com/ajax/libs/mediaelement/3.2.2/mejs-controls.svg") -160px -40px no-repeat;
}
.mejs__button > button {
    background: transparent url("https://cdnjs.cloudflare.com/ajax/libs/mediaelement/3.2.2/mejs-controls.svg") no-repeat;
}
.err404 {
    display: block;
    vertical-align: middle;
    min-height: 50vh;
    padding-top: 14vh;
    width: 978px;
    margin: 0 auto;
    max-width: 100%;
}
.err404 h3,
.err404 .h3{
    text-align: center;
    margin-bottom: 2em;
}
.err404 .uk-form legend:after,
.form-404-search legend:after{
    border: 0 !important;
}
.err404 input[name="s"]{
    color:white!important;
}
.err404 input[name="s"]:hover{
    color:#ccc!important;
}
.search_404 {
    margin-bottom: 80px;
}
ul.styled li {
    padding: 7px 0 14px 40px;
    line-height: 1.5em;
    list-style-type: none;
    font-weight: normal;
    text-align: left;
    background: url(/images/check.png) no-repeat 13px 8px / 2% 49%;
}
.rouble{
    font-family:"rouble", sans-serif;
}
.uk-container-about h3,
.uk-container-about .h3{
    margin-top:24px;
}
ul.uk-dotnav.uk-dotnav-contrast.uk-flex-center {
    position: relative !important;
}
.maker{
    float: right;
    margin-top: 12px!important;
}






.footer-line {
    display: none;
}

/* End */
/* /bitrix/templates/famdental/template_styles.css */
