# BEGIN WordPress
# Строки между `BEGIN WordPress` и `END WordPress` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]


# for science articles
RewriteRule ^science-articles/(\d*)$ https://integramed.info/articles/science-articles-$1 [R=301,L]

# privacy
RewriteRule ^uploaded/private-policy\.html$ /private-policy  [R=301,L]

# diagnos -> fvd
RewriteRule ^diagnos$ /diagnos/fvd  [R=301,L]

# for diseases
# RewriteRule ^(.*)/diseases/(\d*)$ https://integramed.info/$1/diseases/$2-2$3 [R=301,L]


# new wp
Redirect 301 /pneumo23              https://integramed.info/articles/pneumo23
Redirect 301 /chto-takoe-apnoje     https://integramed.info/somnology/all_hrap/190

RewriteRule ^contacts/consult/\?m=(\d*)(.*)who=(\d*)$  /contacts/consult [R=301,L]


# old drupal

Redirect 301 /oncology/special/    https://integramed.info/
Redirect 301 https://integramed.info/header/index.html    https://integramed.info/
Redirect 301 /diagnostic/		https://integramed.info/services/service4/
Redirect 301 /ru/services/services/service4/s1/		https://integramed.info/services/service4/s1/
Redirect 301 /ru/services/services/service4/s2/		https://integramed.info/oncology/checkup
Redirect 301 /ru/services/services/service4/s3/		https://integramed.info/cardiology/checkup2/
Redirect 301 /ru/services/services/service4/s4/		https://integramed.info/cardiology/checkup
Redirect 301 /ru/services/services/service4/basic/ 	https://integramed.info/services/service4/s1/
Redirect 301 /ru/services/services/service4/checkup/ 	https://integramed.info/services/service4/s1/
Redirect 301 /ru/services/service4/checkup/		https://integramed.info/services/service4/
Redirect 301 /ru/services/services/service4/		https://integramed.info/services/service4/
Redirect 301 /services/service2/	https://integramed.info/services/service1/
Redirect 301 /directions	https://integramed.info/pulmonology
Redirect 301 /otorhinolaryngology	https://integramed.info/lor/
Redirect 301 /ru/services/services/service5/	https://integramed.info/services/service1/
Redirect 301 /ru/services/services/service6/	https://integramed.info/services/service6/
Redirect 301 /ru/services/services/service7/	https://integramed.info/services/service7/
Redirect 301 /ru/services/services/service8/	https://integramed.info/services/service8/
Redirect 301 /ru/services/services/resorts/	https://integramed.info/services/resorts/
Redirect 301 /ru/services/abonent/ 		https://integramed.info/services/service10/
Redirect 301 /ru/services/consultant/ 		https://integramed.info/team/consulting/
Redirect 301 /ru/services/clinics/ 		https://integramed.info/services/service6/
Redirect 301 /ru/individual/			https://integramed.info/about/individual/
Redirect 301 /ru/corporate/			https://integramed.info/about/corporate/
Redirect 301 /ru/insurer/			https://integramed.info/about/insurer/
Redirect 301 /ru/question/			https://integramed.info/contacts/questions/
Redirect 301 /ru/contacts/			https://integramed.info/contacts/
Redirect 301 /ru/about/				https://integramed.info/about/
Redirect 301 /ru/skype/				https://integramed.info/contacts/skype/
Redirect 301 /ru/consult/			https://integramed.info/contacts/consult/
Redirect 301 /ru/services/direction/pulm10/	https://integramed.info/pulmonology/children/
Redirect 301 /ru/services/direction/pulm2/	https://integramed.info/pulmonology/#pulmNaDom
Redirect 301 /ru/services/direction/pulm3/	https://integramed.info/pulmonology/diagnostics/
Redirect 301 /ru/services/direction/pulm4/	https://integramed.info/pulmonology/diagnostics/
Redirect 301 /ru/services/direction/pulm5/	https://integramed.info/pulmonology/diagnostics/
Redirect 301 /pulmonology/fvd/			https://integramed.info/pulmonology/diagnostics/
Redirect 301 /pulmonology/bronchoscopy/		https://integramed.info/pulmonology/diagnostics/
Redirect 301 /pulmonology/histology/		https://integramed.info/pulmonology/diagnost
Redirect 301 /blog/2012/12/комнатные-и-опасные/ https://integramed.info/articles/120?from=1
Redirect 301 /blog/2012/12/обследование-на-дому/ https://integramed.info/articles/121?from=1
Redirect 301 /blog/2012/12/незаконные-запахи/  https://integramed.info/articles/122
Redirect 301 /blog/2011/11/кофе-против-депрессии/ https://integramed.info/articles/123
Redirect 301 /blog/2011/10/fire/ https://integramed.info/articles/124
Redirect 301 /blog/2011/10/диабет-повышает-риск-болезни-альцгей/ https://integramed.info/articles/125
Redirect 301 /blog/2011/09/ешь-шоколад-снижаешь-риск-болезней-се/ https://integramed.info/articles/126
Redirect 301 /blog/2011/09/унюхать-рак-легких-—-обонятельный-фе/ https://integramed.info/articles/127
Redirect 301 /blog/2011/07/как-найти-хорошего-врача-в-москве/ https://integramed.info/articles/128
Redirect 301 /blog/2011/07/перерыв-в-ежедневном-приеме-аспирина/ https://integramed.info/articles/129
Redirect 301 /blog/2011/05/случай-из-практики-хирургия-без-скаль/ https://integramed.info/articles/130
Redirect 301 /blog/2011/05/наш-партнер-равнодушным-нет-места-в-пр/ https://integramed.info/articles/131

Redirect 301 /hrap-u-muzhchin-prichiny-i-lechenie/ https://integramed.info/somnology/all_hrap/184
Redirect 301 /team/85 https://integramed.info/team




RewriteRule ^index\.php$ - [L]

#RewriteRule (.+)/$ $1 [R=301,L]
#RewriteRule (.+)/$ https://integramed.info/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress